###############################################################################
#                          Generated on phpdocker.io                          #
###############################################################################
version: "3.1"
services:

    mysql:
      image: mysql:5.7
      container_name: laradocker-mysql
      working_dir: /application
      volumes:
        - .:/application
      environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=caba123lleria
        - MYSQL_USER=restpoliticas
        - MYSQL_PASSWORD=caba123lleria
      ports:
        - "3306:3306"

    webserver:
      image: nginx:alpine
      container_name: laradocker-webserver
      working_dir: /application
      volumes:
        - ./src:/application
        - ./phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      ports:
       - "8080:80"
      links:
       - mysql

    web1:
      image: nginx:alpine
      container_name: web1
      working_dir: /app
      volumes:
        - ./www:/app
        - ./phpdocker/nginx/nginx2.conf:/etc/nginx/conf.d/default.conf
      ports:
        - "81:80"
      links:
       - mysql

    php-fpm:
      build: phpdocker/php-fpm
      container_name: weblara
      working_dir: /application
      volumes:
        - ./src:/application
        - ./phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/7.1/fpm/conf.d/99-overrides.ini

    php-fpm2:
      build: phpdocker/php-fpm2
      container_name: weblara2
      working_dir: /app
      volumes:
        - ./www:/app
        - ./phpdocker/php-fpm2/php-ini-overrides.ini:/etc/php/7.1/fpm/conf.d/99-overrides.ini        

    haproxy:
        build: ./haproxy
        container_name: haproxy
        ports:
            - "80:80"
