###############################################################################
#                          Generated on phpdocker.io                          #
###############################################################################
version: "3.1"
services:
    reverseproxy:
        image: ilanyu/docker-nginx-ReverseProxy
        ports:
            - 8080:8080
            - 8081:8081
        restart: always

    mysql:
      image: mysql:5.7
      container_name: laradocker-mysql
      working_dir: /application
      volumes:
        - .:/application
      environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=caba123lleria
        - MYSQL_USER=restpoliticas
        - MYSQL_PASSWORD=caba123lleria
      ports:
        - "3306:3306"

    webserver:
      image: nginx:alpine
      container_name: laradocker-webserver
      working_dir: /application
      volumes:
          - ./src:/application
          - ./phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      links:
       - mysql

    php-fpm:
      build: phpdocker/php-fpm
      container_name: weblara
      working_dir: /application
      volumes:
        - ./src:/application
        - ./phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/7.1/fpm/conf.d/99-overrides.ini
